doctype html
html(lang='ru')
  head 
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title(Мессенджер «Hexlet Chat»)
    link(rel='stylesheet' href='styles/app.css')
  body.bg-gray.h-100
    .container-xxl.border.rounded.bg-white
      .row
        .col-4.scrollbar.px-0
          .header.bg-primary.d-flex.justify-content-around.align-items-center.pt-4.pb-4
            a
              img(src='images/icons/sprite.svg#logo' width='15px' alt='главная')
            a.d-flex
              img(class='mr-2' src='images/icons/sprite.svg#people' width='25px' alt='контакты')
              span.text-light Контакты
            a.d-flex
              img(class='mr-2' src='images/icons/sprite.svg#chat' width='25px' alt='сообщения')
              span.text-light Сообщения
            a.d-flex
              img(class='mr-2' src='images/icons/sprite.svg#person' width='25px' alt='Профиль')
              span.text-light Профиль
          .body.card-body
            h1.mt-5.mb-4 Контакты
            form
              input(type=text class='form-control' placeholder='Поиск по контактам')
            include contacts.pug
            each contact, index in contacts
              p.text-muted.mb-5.mt-5=index
              each user in contact
                a.mb-3.card-shadow.d-flex.text-decoration-none
                  img(src=user.avatar class='rounded-circle' height='50px' width='50px' alt='avatar')
                  .text-dark
                    .px-4 #{user.name}
                    .px-4.small #{user.status}
        .col-8.border-left
